.hide {
    display: none;
}

.car {
    width: 50px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    background: transparent url('./image/player.png') center /cover no-repeat;
}

h2 {
    background: rgba(88, 63, 170, 0.691);
    text-align: center;
    color: bisque;
}